@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ClienteActualizarViewModel>
@{
    ViewData["Title"] = "Lista cllientes";
}

<h1>Epic</h1>
<div class="mb-3">
    <a asp-action="Crear" class="btn btn-primary">Crear cliente</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nombre y apellido</th>
            <th>DPI</th>
            <th>Servicio</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre @cliente.Apellido</td>
                <td>@cliente.Dpi</td>
                <td>@cliente.Descripcion</td>
                <td><a asp-controller="PagoAutomatizados" asp-action="Asignar" asp-route-Dpi="@cliente.Dpi" class="btn btn-outline-primary">Asignar servicio</a></td>
                <td><a asp-action="Editar" asp-route-id="@cliente.Id" class="btn btn-outline-dark">Editar cliente</a></td>
                <td><a asp-controller="PagoAutomatizados" asp-action="Index" asp-route-id="@cliente.Id" class="btn btn-outline-secondary">Ver servicio</a></td>
            </tr>
        }
    </tbody>
</table>