@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PagoAutomatizadoActualizadoViewModel
@{
    ViewData["Title"] = "Editar servicios";
}
<h1>Editar servicios</h1>

<div class="container mt-4">
    <a asp-action="Index" asp-route-id="@Model.cliente.Id" class="btn btn-outline-primary">Regresar</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Estatus</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var servicio in Model.servicio)
            {
                <tr>
                    <td>@servicio.Descripcion</td>
                    <td>
                        @if (servicio.asignado)
                        {
                            <span class="badge bg-success">Asignado</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">No asignado</span>
                        }
                    </td>
                    <td>
                        @if (servicio.asignado)
                        {
                            <a asp-action="CambioEstatus" asp-route-id="@servicio.ServicioId" asp-route-accion="desasignar" asp-route-cliente="@Model.cliente.Id" class="btn btn-outline-secondary btn-sm">Desasignar</a>
                        }
                        else
                        {
                            <a asp-action="CambioEstatus" asp-route-id="@servicio.ServicioId" asp-route-accion="asignar" asp-route-cliente="@Model.cliente.Id" class="btn btn-outline-primary btn-sm">Asignar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
