@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TarjetaViewModel
@{
    ViewData["Title"] = "Método Pago";
}

<form asp-action="Editar">
    <h3>Tarjeta de cliente</h3>
    <div class="mb-3">
        <label asp-for="@Model.NumeroTarjeta" class="form-label">Número de tarjeta</label>
        <input asp-for="@Model.NumeroTarjeta" class="form-control" id="numeroTarjeta" oninput="validarTarjeta()" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Empresa" class="form-label">Empresa emisora</label>
        <input asp-for="@Model.Empresa" class="form-control" id="empresaEmisora" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.PinSeguridad" class="form-label">Pin de seguridad</label>
        <input asp-for="@Model.PinSeguridad" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.FechaExpiracion" class="form-label">Fecha de vencimiento</label>
        <input asp-for="@Model.FechaExpiracion" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.TipoTarjetaId" class="form-label">Tipo de tarjeta</label>
        <select asp-for="@Model.TipoTarjetaId" asp-items="@Model.TipoTarjeta" class="form-select"></select>
    </div>
</form>

@section scripts
{
    <script>
        function validarTarjeta()
        {
            var numTarjeta = document.getElementById("numeroTarjeta").value;
            var empEmisora = document.getElementById("empresaEmisora");

            var amexRex = /^3[47][0-9]{0,13}$/;
            var visaRex = /^4[0-9]{0,15}$/;
            var masterRex = /^5[15][0-9]{0,13}$/;
            var discoverRex = /^(6011|644|65)[0-9]{0,12}$/;

            if(amexRex.test(numTarjeta)){
                empEmisora.value = "AMEX";
            }else if(visaRex.test(numTarjeta)){
                empEmisora.value = "VISA";
            }else if(masterRex.test(numTarjeta)){
                empEmisora.value = "Master Card";
            }else if(discoverRex.test(numTarjeta)){
                empEmisora.value = "Discover";
            }else if(numTarjeta == ""){
                empEmisora.value = "";
            }else{
                empEmisora.value = "Tarjeta invalida";
            }
        }
    </script>
}
